{% extends "base.html" %}

{% block title %}
 - {{ evento.titulo }}
{% endblock %}

{% block content %}

    <h2>{{ evento.titulo }}</h2>
    <p>{{ evento.descricao }}</p>
    <p><strong>Local:</strong> {{ evento.local }}</p>
    <p><strong>Data Hora:</strong> {{ evento.data_realizacao|date:"d/m/Y H:i" }}</p>
    <p><strong>Valor:</strong>
        {% if evento.valor %}
            R$ {{ evento.valor|floatformat:2 }}
        {% else %}
            Gratuito
        {% endif %}
    </p>

    {% if palestras %}
        <ul class='palestras unstyled'>
            {% for palestra in palestras %}
            <li class='palestra well'>
                <h4>{{ palestra.titulo }}</h4>
                <p>{{ palestra.descricao }}</p>
                <ul class='palestrantes unstyled'>
                    {% for palestrante in palestra.palestrantes.all %}
                        <li class='palestrante'>
                            <a href="#">{{ palestrante.nome }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
