{% extends "base.html" %}
{% load gravatar %}

{% block title %}
 - {{ palestra.titulo }}
{% endblock %}

{% block content %}

<div class="offset1 span10">
    <div class='palestra well'>
        <h4>{{ palestra.titulo }}</h4>
        <hr class="lessspace"/>
        <p><strong>Evento:</strong> <a href="{{ palestra.evento.get_absolute_url }}">{{ palestra.evento.titulo }}</a></p>
        <p>{{ palestra.descricao|safe }}</p>
        <ul class='palestrantes unstyled'>
            {% for palestrante in palestra.palestrantes.all %}
                <li class='palestrante'>
                    <a href="{{ palestrante.get_absolute_url }}"><img src="{% gravatar_for_email palestrante.email %}" alt="{{ palestrante.nome }}" /></a>
                    <a href="{{ palestrante.get_absolute_url }}">{{ palestrante.nome }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
