body {
    margin-top: 10px;
    background-color: #EEE;
    font-family: 'Numans', sans-serif;
}
.well {
    background-color: #FFF;
    border: 1px solid #fbf6f1;
}
hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #fbfbfb;
}
h4 > a { font-family: 'Coda', cursive }
.logo-pylestras:hover { text-decoration: none }
.logo-pylestras {
    background: transparent url("../img/pylestras-logo-vazia-220-187.png") no-repeat;
    height: 187px;
}
.versao {
    display: block;
    width: 77px;
    font-family: 'Crete Round', serif;
    font-size: 35px;
    margin-top: 42px;
    text-align: center;
    color: #fde6ce;
}
