{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        {% block meta %}
        {% endblock %}
        <title>PUG-CE{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static "bootstarp/css/bootstrap.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/style.css" %}" />
        <link rel="stylesheet" href="{% static "bootstarp/css/bootstrap-responsive.min.css" %}" />

        {% block style %}
        {% endblock %}

        {% block script %}
        {% endblock %}
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-2419764-6']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    </head>
    <body>
    <a href="https://github.com/pugce/pylestras"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="page-header">
                <h1><a class="logo-pug" href="/">PUG-CE</a> <small>Python Users Groups Ceará</small></h1>
            </div>
        </div>
        <div class="row-fluid">
            <div class="content span12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <script src="{% static "js/jquery-1.8.1.min.js" %}"></script>
    <script src="{% static "bootstarp/js/bootstrap.min.js" %}"></script>
    {% block extra_body %}
    {% endblock %}

    </body>
</html>
